* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}
@media (max-width: 600px) {
  .part-1 h1 {
    font-size: 8vw !important;
    background-color: rebeccapurple;
  }
}
#main {
  padding: 2vw;
  width: 100%;
  background-color: #20201f;
}
.stickyBtn {
  position: fixed;
  border: none;
  padding: 1.2vw;
  background-color: #f4ed6b;
  z-index: 999;
  font-size: 1.2rem;
  border-radius: 1.3rem;
  transform: translate(83vw, 74vh);
}
.part-1 {
  width: 100%;
  height: 190vh;
  position: relative;
  overflow: hidden;
}
.part-1 img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.6;
  z-index: 0;
  filter: brightness(58%) contrast(1);
}
.part-1 h1 {
  position: absolute;
  top: 30%;
  width: 70%;
  font-size: 10vw;
  line-height: 0.85;
  color: #f9eedb;
  z-index: 1;
}

.nav {
  height: 10vw;
  max-height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.4vw;
  position: fixed;
}
.l-nav img {
  height: 3rem;
}
.r-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4vw;
}
.r-nav .button {
  padding: 0.8rem 2rem;
  border-radius: 1.6rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3vw;
}
.r-nav a {
  text-decoration: none;
}
.r-nav h4 {
  color: black;
}
.r-nav .button img {
  height: 1.6rem;
  margin: auto;
}
.services {
  min-height: 200vh;
  width: 100%;
  padding: 5vw 1vw;
  border: none;
}
.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}
.service-offered {
  height: 50vw;
  width: 30vw;
  border-radius: 0.9rem;
  overflow: hidden;
}
.service-offered img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.color-filling-text {
  max-height: 200vh;
  width: 100%;
  color: #f9eedb;
  padding-top: 8vw;
  padding: 3vw;
  border: none;
  overflow: hidden;
  display: flex;
  align-items: start;
  justify-content: center;
}
#movingImg {
  margin-top: 35%;
  transition: all linear 1s;
}
.color-filling-text h3 {
  font-size: 5vw;
  width: 80%;
  text-align: start;
  margin-left: 20%;
  color: #4b4945;
}
.color-filling-text img {
  height: 10vh;
}
.spn {
  display: inline-block;
  opacity: 0.5;
  transition: all ease 0.3s;
}
.news-hype {
  min-height: 300vh;
  width: 100%;
  color: white;
}
.nav-news-hype {
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-height: 100vw;
  padding: 2vw;
}
.comp-container {
  height: 8rem;
  width: 14rem;
}
.comp-container img {
  width: 14rem;
}
.news-hype-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
  overflow: hidden;
  height: auto;
  width: 100%;
}

.news-hype-content img {
  object-fit: cover;
  height: 18rem;
  width: 18rem;
  transition: all ease 0.5s;
}
.news-hype-content img:hover {
  transform-origin: center;
  scale: 1.25;
}
.news-hype-content {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.news-hype-content h1 {
  font-size: 1.2rem;
  position: absolute;
  width: 80%;
  top: 50%;
  text-align: start;
  padding: 1vw;
  pointer-events: none;
}

.wall-of-quote {
  /* margin-top: 5vw; */
  max-height: 150vh;
  width: 100%;
  /* padding: 4vw 0; */
  overflow: hidden;
}
.text {
  min-height: 90vh;
  width: 100%;
  /* padding: 8vw 0; */
  /* background-color: pink; */
}
.wall-of-quote img {
  width: 100%;
  object-fit: cover;
  scale: 1.3;
}
.text {
  /* text-align: start; */
  font-size: 8.2rem;
  line-height: 0.9;
  color: #f9eedb;
}

.work-with-us {
  height: 140vh;
  width: 100%;
  overflow: hidden;
}
.imgWWU {
  height: 140vh;
  overflow: hidden;
  position: relative;
}
.work-with-us img {
  width: 100%;
  object-fit: cover;
  scale: 1.2;
  filter: brightness(0.5);
}
#button-wrap {
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6vw;
  padding: 1vw;
}
#button-wrap h3 {
  text-align: center;
  font-size: 1.7rem;
  color: #f9eedb;
}
#button-wrap button {
  padding: 0.9rem 2.7rem;
  background-color: #f9eedb;
  color: black;
  border: none;
  border-radius: 1.6rem;
  font-size: 1.2srem;
}
.changingTextDiv {
  max-height: 100vh;
  padding: 4vh 2vw;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.diff-font {
  font-size: 5rem;
  color: #f9eedb;
  font-family: cursive;
}
.diff-val {
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f9eedb;

  overflow: hidden;
}
.change-h2 {
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f9eedb;
  /* width: fit-content; */
  /* overflow: hidden; */
}
.certifications {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5vh 0;
}
.certifications img {
  height: 8rem;
}
.impact {
  max-height: 100vh;
  width: 100%;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 2vw;
}
.head h1 {
  width: 50%;
  font-size: 2.3rem;
  color: #f9eedb;
}
.head button {
  padding: 1.3vw 3vw;
  border-radius: 1.4rem;
  font-size: 1rem;
  border: 1px solid white;
  color: #f9eedb;
  background-color: transparent;
}

.footer {
  max-height: 100vh;
  border-top: 3px solid #f9eedb;
  border-bottom: 3px solid #f9eedb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
padding: 2vw;
}

.footer img {
  width: 18rem;
  height: 14rem;
}
.footer p{
  width: 50%;
  color: #f9eedb;
  text-align: end;
}
