* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'gilroy';
}

html, body {
     height: 100%;
     width: 100%;
}
.nav{
    height: 10vw;
    max-height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;justify-content: space-between;
    background-color: red;
    padding-left: 2.4vw;
    position: fixed;
}
.l-nav img{
    height: 3rem;
}
.r-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4vw;
}
.r-nav .button{
    padding: .8rem 2rem;
    border-radius: 1.6rem;
    border: 2px solid black;
    display: flex;align-items: center;justify-content: center;
    gap: .3vw;
}
.r-nav a{
    text-decoration: none
}
.r-nav h4{
    color: black;
}
.r-nav .button img{
    height: 1.6rem;
    margin: auto;
    
}